<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" media="screen"  rel="stylesheet"></link>

    <link href="/webjars/jquery-ui/1.13.0/jquery-ui.min.css" media="screen" rel="stylesheet"></link>
    <link href="/webjars/jquery-ui/1.13.0/jquery-ui.theme.min.css" media="screen" rel="stylesheet"></link>
    <link href="/webjars/font-awesome/5.15.4/css/fontawesome.min.css" media="screen" rel="stylesheet"></link>
    <link rel="stylesheet"
          href=
                  "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/todo.css" media="screen" rel="stylesheet"></link>
</head>

<body>

<header th:fragment="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <ul class="nav navbar-nav navbar-right">

                <!--TODO create menu items if needed-->
            </ul>
        </div>
    </nav>

</header>
</body>
</html>